.App {
  text-align: center;
}

.Dealer {
  height: 30vh;
  padding: 10px;
  color: white;
  background-color: #174;
}

h1 {
  margin: 0;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  height: 30vh;
}
