$maxChildren: 12;


@mixin of-n-siblings {
  @for $n from 1 through $maxChildren {
    @for $j from 1 through $n {
      &:nth-of-type(#{$j}):nth-last-of-type(#{$n - $j + 1}) {
        width: (100% / $n);

        svg {
          transform: rotate( #{-$j*30deg + $n*15deg + 15deg} )
        }
      }
    }
  }
}

li{ @include of-n-siblings; }
